@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --dark-color: #002240;
  --light-color: #f4f4f4;
}
.footer .social a {
  margin: 0 10px;
}
.bg-dark {
  background-color: var(--dark-color) !important;
  color: #fff;
}
.bg-light {
  background-color: var(--light-color) !important;
  color: #333;
}
.bg-dark a {
  color: #fff;
}

ul {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif !important;
}

.card-content {
  border-radius: 25px;
}

.single-card-content {
  margin: auto;
  width: 22rem;
}

.card-content img {
  border-radius: 50%;
}

.card-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  color: #000000;
}

.card-title,
.card-text {
  text-align: center;
  margin: 10px;
}

.card-section {
  background-color: #f4f4f4;
  overflow: hidden;
}

button {
  text-align: center;
}

.card-text a {
  color: black !important;
  border-bottom: 1px solid black !important;
  text-decoration: none !important;
}

.card-text a:hover {
  border-bottom: none !important;
}

.navbar-nav {
  margin-left: auto !important;
}

/* Media Queries */
@media (max-width: 586px) {
  .grid-3 {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
